/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dosis:wght@200;300;400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
/* a,
p {
    font-family: 'Dosis', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
} */
/* 
.card-header p,
.card-header a,
.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.modal-header p,
.modal-header a,
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5 {
    color: white;
    font-family: 'Bree Serif', serif;
} */
p, h3 {
    margin: 0 !important;
    padding: 0 !important;
}

.catalog-img-modal {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.catalog-book .card .card-body {
    height: 150px;
}

.catalog-img {
    height: 200px;
    width: max-content;
    object-fit: cover;
}

.catalog-book p {
    line-height: 1.25;
}

.book-recomendation, .img-recomendation{
    height: 300px;
    width: auto;
    object-fit: cover;
}

.book-recomendation:hover{
    opacity: 1;
}

/* .modal-header{
    background-image: linear-gradient(to bottom right, #23150d,#845f3e);
    color: white;
}

.modal-footer {
    background-color: #23150d;
} */


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
  }
  
  /* Chrome, Safari, Edge, Opera */
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
@media(max-width:800px) {
    .catalog-book .card .card-body {
        height: 175px;
    }
}