body{
    background-image: url('https://images.wallpaperscraft.com/image/book_bouquet_cup_147482_3840x2160.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}